* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}
.clear {
	clear: both;
}

.bg {
	background-image: url(bg-alex.jpg);
	background-position: center;
}

.container {
	width: 1100px;
	/*background-color: rgba(0,0,0,.5);*/
	margin: 100px auto;
	padding: 0 50px;
}

.wrap {
	width: 1000px;
	/*background-color: #e1e1e1;*/
	position: relative;
}

/* PART-1 */
/*gambar dan judul*/
.part-1 {
	position: relative;
	width: 1000px;
	height: 125px;
}
/*#242F39*/
.logo {
	background-image: url(logo.jpg);
	background-size: contain;
	width: 230px;
	height: 230px;
	border-radius: 5px;
	position: absolute;
	top: -30px;
	left: -30px;
	float: left;
	z-index: 3;
}
.part-1 .title {
	position: relative;
	float: right;
	background-color: #26393D;
	width: 800px;
	height: 100%;
	padding: 10px;
	border-top-right-radius: 3px;
}
.part-1 .title-1 {
	position: absolute;
	width: 768px;
	text-align: right;
	line-height: 100px;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 4px;
}
.part-1 .title-2 {
	position: absolute;
	bottom: -53px;
	left: 77px;
	color: white;
	font-size: 1.6em;
	z-index: 3;
	font-family: 'Yatra One', cursive;
	font-style: italic;
}

/* PART-15 */
.part-15 {
	position: absolute;
	width: 1000px;
	height: 100px;
	top: 125px;
	background-color: transparent;
	z-index: 2;
}
.box-1 {
	width: 275px;
	height: 150px;
	float: left;
	background-color: #26393D;
}
.box-2 {
	width: 450px;
	height: 75px;
	float: left;
	background-color: #26393D;
}


/* PART-2 */
/*perkenalan*/
.part-2 {
	position: relative;
	background-color: white;
	width: 1000px;
	height: 500px;
}
.intro {
	position: relative;
	top: 200px;
	width: 600px;
	margin: 0 auto;
	padding: 12px;
	border-left: 5px solid #26393D;
	font-size: 1.1em;
}

/* PART-3 */
/*foto dan tulisan*/
.part-3 {
	position: relative;
	background-color: white;
	width: 1000px;
	height: 600px;
	border-top: 1px solid gray;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.wrap-3 {
	width: 900px;
	height: 500px;
	margin: 50px auto;
	background-color: transparent;
}
.profile {
	float: left;
}
.profile .title {
	font-size: 30px;
	font-variant: small-caps;
	padding: 20px;
}
.profile .desc {
	width: 600px;
	padding: 25px;
	font-size: 1.1em;
}
.part-3 .title-2 {
	padding: 0 10px -5px 10px;
	font-family: 'Titillium Web', sans-serif;
	color: midnightblue;
	font-size: 22px;
	letter-spacing: 2px;
	font-variant: small-caps;
	border-bottom: 1px solid midnightblue;
	display: inline-block;
}
.visi {
	font-family: 'Muli', sans-serif;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 10px;
	margin-right: 15px; 
/*	background-color: crimson;*/
	font-size: 16px; 
	opacity: .9;
}
.visi::before {
  content: "\201C";
  font-size: 40px;
  opacity: .9;
}
.visi::after {
  content: "\201D";
  font-size: 40px;
  opacity: .9;
}
	
.misi {
	font-family: 'Muli', sans-serif;
	   list-style: none;
    padding:0;
    margin:0;
}
li:before {
    content: "\2022"; /* bullet */
    color: skyblue; /* or whatever color you prefer */
    padding-right: 5px;
    font-size: 22px;
}
.card {
	float: left;
	width: 250px;
	height: 425px;
}
.alex {
	width: 250px;
	height: 325px;
	border-radius: 4px 4px 0 0;
	/*background-image: url(owner.jpg);*/
	background-color: yellowgreen;
}
.alex-desc {
	width: 250px;
	padding: 10px 7px;
	border-right: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-left: 1px solid rgba(0,0,0,.3);
	border-radius: 0 0 4px 4px;
}
.alex-desc-1 {
	font-size: 20px;
	font-weight: 500;
}
.alex-desc-2 {
	font-size: 15px;
	color: gray;
	opacity: .7;
}


/* PART-4 */
.part-4 {
	position: relative;
	top: 90px;
	background-color: white;
	width: 1000px;
	height: 1080px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.testimoni {
	text-align: center;
	font-size: 40px;
	font-family: 'Rock Salt', cursive;
	/*padding: 30px 0 10px 0;*/
	padding-top: 25px;
}
.testimoni-2 {
	width: 968px;
	height: 800px;
	margin: 0 auto;
	background-image: url(testimoni.jpg);
	background-repeat: no-repeat;
}

/* PART-5 */
.part-5 {
	position: relative;
    width: 1000px;
    height: 300px;
 	background-color: cadetblue
}
.zig {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.zig > div {
    display: inline-block;
    width: 0;
    border: 15px transparent solid;
    border-top: 15px white solid;
    position: relative;
    z-index: 2;
}

/* PART-6 */
.part-6 {
	position: relative;
	width: 1000px;
	height: 300px;
	background-color: limegreen;
}

/*.ads {
	position: absolute;
	top: 1225px;
	background-image: url(ads2.jpg);
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	background-color: white;
	transform: scale(1.32);
}*/