* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	cursor: default;
}
a {
	cursor: pointer;
	text-decoration: none;
}
.clear {
	clear: both;
}

.bg {
	background-image: url(bg-alex.jpg);
	background-position: center;
}

.container {
	width: 1100px;
	margin: 100px auto 50px auto;
	padding: 0 50px;
}

.wrap {
	width: 1000px;
	position: relative;
}

/* ================================================== PART-1 */
/*logo dan header*/
.part-1 {
	position: relative;
	width: 1000px;
	height: 125px;
}
/*#242F39*/
.logo {
	background-image: url(logo.jpg);
	background-size: contain;
	width: 230px;
	height: 230px;
	border-radius: 5px;
	position: absolute;
	top: -30px;
	left: -30px;
	float: left;
	z-index: 3;
}
.part-1 .title {
	position: relative;
	float: right;
	background-color: #26393D;
	width: 800px;
	height: 100%;
	padding: 10px;
	border-top-right-radius: 3px;
}
.part-1 .title-1 {
	position: absolute;
	width: 768px;
	text-align: right;
	line-height: 100px;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 4px;
}
.part-1 .title-2 {
	position: absolute;
	bottom: -53px;
	left: 77px;
	color: white;
	font-size: 26px;
	z-index: 3;
	font-family: 'Yatra One', cursive;
	font-style: italic;
}

/* ================================================== PART-15 */
.part-15 {
	position: absolute;
	width: 1000px;
	height: 100px;
	top: 125px;
	background-color: transparent;
	z-index: 2;
}
.box-1 {
	width: 275px;
	height: 150px;
	float: left;
	background-color: #26393D;
	border: none;
}
.box-2 {
	width: 450px;
	height: 75px;
	float: left;
	background-color: #26393D;
	border: none;
}


/* ================================================== PART-2 */
/*perkenalan*/
.part-2 {
	position: relative;
	background-color: white;
	width: 1000px;
	height: 500px;
}
.intro {
	position: relative;
	top: 200px;
	width: 575px;
	margin: 0 auto;
	padding: 12px;
	border-left: 5px solid #26393D;
	font-size: 17px;
	text-align: justify;
}

/* ================================================== PART-3 */
/*profil*/
.part-3 {
	position: relative;
	background-color: white;
	width: 1000px;
	height: 550px;
	border-top: 1px solid gray;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.wrap-3 {
	width: 900px;
	height: auto;
	margin: 0 auto;
	background-color: transparent;
}
.profile {
	padding: 50px 0;
	float: left;
	background-color: white;
	max-height: 100%;
}
.profile .title {
	font-size: 30px;
	font-variant: small-caps;
	padding: 0 15px;
}
.profile .desc {
	width: 600px;
	padding: 25px 5px 10px 25px;
	font-size: 18px;
}
.part-3 .title-2 {
	padding: 0 5px;
	margin: 0 20px;
	font-size: 20px;
	display: inline-block;
	color: teal;
	border-bottom: 1px solid black
}
.visi {
	text-align: center;
	font-size: 16px; 
	margin: 10px 0;
}
.visi::before {
  content: "\201C";
  font-size: 30px;
}
.visi::after {
  content: "\201D";
  font-size: 30px;
}
	
.misi {
	list-style: none;
    padding-left: 45px;
    margin: 10px 0;
}
li:before {
    content: "\2022"; /* bullet */
    color: skyblue;
    padding-right: 5px;
    font-size: 22px;
}
.card {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 250px;
}
.alex {
	width: 250px;
	height: 325px;
	border-radius: 4px 4px 0 0;
	background-image: url(foto.jpg);
}
.alex-desc {
	width: 250px;
	padding: 10px;
	border-right: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-left: 1px solid rgba(0,0,0,.3);
	border-radius: 0 0 4px 4px;
	background-color: white;
}
.alex-desc-1 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 3px;
}
.alex-desc-2 {
	font-size: 14px;
	color: gray;
	opacity: .75;
}


/* ================================================== PART-4 */
/*testimonial*/
.part-4 {
	position: relative;
	top: 25px;
	background-color: white;
	width: 1000px;
	height: 1020px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.testimoni {
	text-align: center;
	font-size: 40px;
	font-family: 'Rock Salt', cursive;
	padding-top: 25px;
}
.testimoni-2 {
	width: 968px;
	height: 800px;
	margin: 0 auto;
	background-image: url(testimoni.jpg);
	background-repeat: no-repeat;
}

/* ================================================== PART-5 */
.part-5 {
	position: relative;
	margin-top: -45px;
    width: 1000px;
    height: 315px;
 	background-color: white;
}
.divider-1 {
	width: 700px;
	height: 5px;
	margin: 10px auto;
	background-color: teal;
	border-radius: 100%;

}
.divider-2 {
	width: 450px;
	height: 5px;
	margin: 0 auto;
	background-color: lightskyblue;
	border-radius: 100%;
}
.omzet {
	font-size: 30px;
	margin: 42px 40px 0 40px;
	font-variant: small-caps;
}
.omzet-desc {
	font-size: 18px;
	margin: 0 50px;
	padding: 15px 25px 10px 25px;
/*	letter-spacing: 1px;*/
	text-align: justify;
}
/*.profile .title {
	font-size: 30px;
	font-variant: small-caps;
	padding: 0 15px;
}
.profile .desc {
	width: 600px;
	padding: 25px 5px 10px 25px;
	font-size: 18px;
}*/
/* ================================================== PART-6 */
.part-6 {
	position: relative;
	width: 1000px;
	height: 319px;
	margin: 20px auto;
}
.reference {
	color: white;
	font-size: 24px;
	padding: 20px 10px;
	font-weight: 500;
	text-align: center;
	background-color: #26393D;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.info {
	width: 500px;
	height: 180px;
	background-color: rgba(255,255,255,.8);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.info .left {
	width: 250px;
	height: 180px;
	float: left;
}
.info .right {
	width: 250px;
	height: 180px;
	float: left;
}
.key, .value {
	font-size: 25px;
}
.key {
	margin: 20px 30px;
}
.value {
	margin: 20px 0;
}

.maximusltd {
	position: absolute;
	top: 110px;
	right: 75px;
	width: 350px;
	height: 100px;
	background-color: rgba(0,0,0,.15);
	color: rgba(255,255,255,0.8);
	box-shadow: 0 0 20px 5px black;
	line-height: 100px;
	font-size: 45px;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	transition: color 0.15s linear,
			box-shadow 0.15s ease-in-out,
			background-color 0.1s ease-in-out;
}
.maximusltd:hover {
	background-color: transparent;
	box-shadow: 0 0 15px 5px black;
	color: rgba(255,255,255,0.75);
}


/* ================================================== ETC */
.zork {
	position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.zork > div {
    display: inline-block;
    width: 0;
    border: 14px transparent solid;
    border-top: 14px white solid;
    position: relative;
    z-index: 2;
}
